<!doctype html>
<html>
	<head>
		<title>{{page.title}}</title>
		{{!-- <meta name="description" content="HexR is a small independent nonprofit (not licensed) business that creates and manages semi-static websites for small business at little to no charge." />
		<meta name="keywords" content="HexR Website Design Development Free" /> --}}
		<meta name="robots" content="index, follow" />
		<meta name="language" content="english" />
		<meta name="author" content="HexR" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="HandheldFriendly" content="true" />
		<meta charset="UTF-8" />
		{{#unless page.meta.noCanonical}}
		<link rel="canonical" href="{{url page.path}}" />
		{{/unless}}
		<link rel="stylesheet" href="/assets/css/material-slim.min.css" />
		<link href="/assets/css/global.css" rel="stylesheet">
		<style>
			.hexr-background{/*background-color:#1e5799*/background-color:#12374a !important}
			.text-hexr-blue{/*color:#1e5799 !important;*/color:#12374a !important}
			nav.hexr-background{padding:0 23px}
			.noscript{display: none}
			.nav-the-book.flow-text{font-size:1rem !important}
		</style>
		<noscript><style>.needsjs{display: none}.noscript{display: inline-block; display: inherit}</style></noscript>
		{{{block "head"}}}
	</head>
	<body class="grey darken-4 white-text {{classes}}">
		<header>
			<div class="navbar-fixed">
				<nav class="hexr-background">
					<div class="nav-wrapper hexr-background">
						<a href="/" class="brand-logo font-anders hide-on-med-and-down active">HexR</a>
						<a href="/" class="brand-logo font-anders center hide-on-large-only active">HexR</a>
						<span class="noscript center red-text hide-on-large-only sidenav-trigger">Nav needs javascript</span>
						<a href="#" data-target="mobile" class="needsjs sidenav-trigger"><i class="material-icons">menu</i></a>
						<ul class="right hide-on-med-and-down">
							{{#navigation}}
								<li><a href="{{href}}" class="flow-text nav-{{slug}} {{#if current}}active{{/if}}">{{title}}</a></li>
							{{/navigation}}
							{{!-- <li><a class="flow-text" href="/clients">Clients</a></li> --}}
						</ul>
						<ul class="sidenav page-background white-text hexr-center" id="mobile">
							{{#navigation}}
								<li><a href="{{href}}" class="center waves-effect nav-{{slug}}">{{title}}</a></li>
							{{/navigation}}
							{{!-- <li><a class="center waves-effect" href="/clients">Clients</a></li> --}}
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<main>
			{{{body}}}
		</main>
		<footer class="page-footer hexr-background">
			<div class="flex container hexr-center">
				<div class="footer-left">
					<img src="/assets/img/logo.png" class="logo small responsive-img" alt="hexr logo" />
					<p class="grey-text text-lighten-4">
						HexR. The only organization fully dedicated to producing the best websites for everyone. We're ready to take any challenge you throw at us, from a small single page site to a large ten thousand page site. From the fearing individual to the tech savvy engineer. Whoever you are and whatever you need, we're ready to help you.
						<a href="/request" class="teal-text text-accent-4"> Let's get started</a>!
					</p>
				</div>
				<div class="footer-right">
					<h5 class="white-text center">Quick Links</h5>
					<ul class="center">
						<li><a class="teal-text text-accent-4 flow-text footer-nav-link" href="/contact">Contact</a></li>
						<li><a class="teal-text text-accent-4 flow-text footer-nav-link" href="/policies#legal">Legal</a></li>
						<li><a class="teal-text text-accent-4 flow-text footer-nav-link" href="/initiative">Initiative</a></li>
						<li><a class="teal-text text-accent-4 flow-text footer-nav-link" href="/about">About</a></li>
						<li><a class="teal-text text-accent-4 flow-text footer-nav-link" href="/policies#tos">Terms of Service</a></li>
						<li><a class="teal-text text-accent-4 flow-text footer-nav-link" href="/policies#privacy">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container center">
					&copy; 2019 HexR Website Design, Development and Production.
					<a href="/contact" class="teal-text text-accent-4">Contact for information</a>
				</div>
			</div>
		</footer>
	</body>
	<div id="scripts" class="hide">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<script async src="/assets/js/material-slim.min.js"></script>
		<script defer src="/assets/js/global.js"></script>
		{{#if page.captcha}}<script src="https://www.google.com/recaptcha/api.js" async></script>{{/if}}
		{{{block "scripts"}}}
	</div>
</html>
